.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: calc(24px + 6vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.OpenButton {
  font-size: calc(48px + 3vmin);
  width: 100%;
  flex-grow: 1;
  padding: 32px 16px;
  user-select: none;
  margin-top: 8px;
  margin-bottom: 32px;
}

.OpenButton:focus {
  outline: none;
}

.Green {
  background-color: lightgreen;
}

.Red {
  background-color: tomato;
}